# Install a minimal (and fully updated) CentOS system to be used as a KVM base image

install

url --url http://www.mirrorservice.org/sites/mirror.centos.org/7.6.1810/os/x86_64/
repo --name=updates --install --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=updates
repo --name=docker-ce --install --baseurl=https://download.docker.com/linux/centos/7/$basearch/stable
repo --name=kubernetes --install --baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64

# for too new hardware
unsupported_hardware

text
skipx
bootloader

firewall --enabled --ssh
selinux --permissive
firstboot --disabled

lang en_US.UTF-8
keyboard us
timezone --utc UTC

network --onboot yes --device eth0 --bootproto dhcp --noipv6 --hostname=localhost.localdomain

zerombr
clearpart --all --initlabel
part / --fstype=xfs --size=1000 --grow

# Password should be added/replace before Kickstart file is used (possibly automatically)
# python -c 'import crypt; print(crypt.crypt("root", "$6$IDRC"))'
rootpw root
authconfig --enableshadow --passalgo=sha512

reboot

services --enabled docker kubelet

%packages --nocore --nobase --excludedocs
@core --nodefaults
qemu-guest-agent
chrony
psmisc
net-tools
policycoreutils-python
yum-utils
device-mapper-persistent-data
lvm2
-aic94xx-firmware
-alsa-firmware
-alsa-lib
-alsa-tools-firmware
-btrfs-progs
-iprutils
-ivtv-firmware
-iwl*firmware
-NetworkManager*
-plymouth*
-wpa_supplicant
%end

%post --log=/root/kickstart-post-configuration.log
# Disable consistent network device naming
/usr/bin/ln -s /dev/null /etc/udev/rules.d/80-net-name-slot.rules

# Disable NetworkManager and firewalld
/usr/bin/systemctl disable NetworkManager
/usr/bin/systemctl disable firewalld
/usr/bin/systemctl enable network

# Need for host/guest communication
/usr/bin/systemctl enable qemu-guest-agent

# Update all packages
/usr/bin/yum -y update

# import GPG keys
rpm --import https://download.docker.com/linux/centos/gpg
rpm --import https://packages.cloud.google.com/yum/doc/yum-key.gpg
rpm --import https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

cat <<EOF >  /etc/sysctl.d/k8s.conf
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-iptables = 1
EOF
%end
